<h2>About Me</h2>
<p>I am currently working as an E-commerce specialist in KrishaWeb Technologies. I have worked on Wordpress , Magento and Spree-Commerce platforms. Currently working on Magento.</p>


<p></p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fab fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/bhargavmehta" data-show-count="false" data-lang="en" target="_blank">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-facebook-square fa-lg main-list-item-icon"></span>
    <a href="https://www.facebook.com/iambhargavmehta">@iambhargavmehta</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-linkedin fa-lg main-list-item-icon"></span>
    <a href=" https://www.linkedin.com/in/iambhargavmehta" data-show-count="false" data-lang="en" target="_blank">Professional Profile</a>
  </li>
   <li class="main-list-item">
    <span class="fab fa-twitter-square fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/iambhargavmehta" data-show-count="false" data-lang="en" target="_blank">@iambhargavmehta</a>
  </li>
  <li class="main-list-item">
   <span class="fab fa-stack-overflow fa-lg main-list-item-icon"></span>
   <a href="http://magento.stackexchange.com/users/13328/bhargav" data-show-count="false" data-lang="en" target="_blank">Bhargav Mehta</a>
 </li>
  <li class="main-list-item">
    <span class="fas fa-envelope-open fa-lg main-list-item-icon"></span>
    <a href="mail-to:bhargavmehta44@gmail.com">bhargavmehta44@gmail.com</a>
  </li>
</ul>
