<h2>About Me</h2>
<p>Currently working as Program Manager at Embitel Technologies. Growth-focused team leader who champions innovative solutions to drive continuous improvement, mitigate project risks, analyze data, and provide key insights to inform strategic plans. Exceptionally dedicated professional with keen interpersonal, communication, and organizational skills for the diverse modern marketplace. Expertise in project management, process optimization, and strategic development within the e-commerce domain</p>


<p></p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fab fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/bhargavmehta" data-show-count="false" data-lang="en" target="_blank">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-facebook-square fa-lg main-list-item-icon"></span>
    <a href="https://www.facebook.com/iambhargavmehta">@iambhargavmehta</a>
  </li>
  <li class="main-list-item">
    <span class="fab fa-linkedin fa-lg main-list-item-icon"></span>
    <a href=" https://www.linkedin.com/in/iambhargavmehta" data-show-count="false" data-lang="en" target="_blank">Professional Profile</a>
  </li>
   <li class="main-list-item">
    <span class="fab fa-twitter-square fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/iambhargavmehta" data-show-count="false" data-lang="en" target="_blank">@iambhargavmehta</a>
  </li>
  <li class="main-list-item">
   <span class="fab fa-stack-overflow fa-lg main-list-item-icon"></span>
   <a href="http://magento.stackexchange.com/users/13328/bhargav" data-show-count="false" data-lang="en" target="_blank">Bhargav Mehta</a>
 </li>
  <li class="main-list-item">
    <span class="fas fa-envelope-open fa-lg main-list-item-icon"></span>
    <a href="mail-to:bhargavmehta44@gmail.com">bhargavmehta44@gmail.com</a>
  </li>
</ul>
