<h2>About Me</h2>
<p>I am currently working as an E-commerce specialist in KrishaWeb Technologies. I have worked on Wordpress , Magento and Spree-Commerce platforms. Currently working on Magento.</p>


<p></p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/bhargavmehta">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href=" https://www.linkedin.com/in/bhargavmehta44">Professional Profile</a>
  </li>
   <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/bhargavmehta44" data-show-count="false" data-lang="en">@bhargavmehta44</a>
  </li>
  <li class="main-list-item">
   <span class="fa fa-stack-overflow fa-lg main-list-item-icon"></span>
   <a href="http://magento.stackexchange.com/users/13328/bhargav" data-show-count="false" data-lang="en">Bhargav Mehta</a>
 </li>
  <li class="main-list-item">
    <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
    <a href="mail-to:bhargavmehta44@gmail.com">bhargavmehta44@gmail.com</a>
  </li>
</ul>
